@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Importing React-Bootstrap */
@import "~bootstrap/scss/bootstrap";

:root {
  --primary-color: #f3f4f8;
  --secondary-color: #f9a826;
  --white-color: #ffffff;

  --light-grey-color: #c3c3c3;
  --dark-grey-color: #585858;

  --white-color: #ffffff;
  --black-color: #000000;
  --yellow-color: #ffa310;

  --btn-yellow: #fd9e05;

  //font weights
  --fw-s: 400;
  --fw-m: 500;
  --fw-sb: 600; //semi-bold
  --fw-b: 700; //bold
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--primary-color);
}
//Image Css
.bgImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0px;
}

//Button Css
.btn {
  color: var(--white-color);
  font-size: 10px;
  padding: 10px 30px;
  margin-left: 0.5rem;
  margin-right: 0rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: all 0.6s;

  &:hover {
    color: var(--white-color);
    background-color: var(--btn-yellow);
    border-color: var(--white-color);
  }

  &:active {
    background-color: var(--btn-yellow) !important;
    border-color: var(--btn-yellow) !important;
  }
}

.btn-outlined {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);

  &:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
}

//posts
.post,
.createPost {
  width: 50%;
  max-width: 660px;
  min-width: 580px;
  height: auto;
  background: var(--white-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0rem auto 3rem auto;
  padding-top: 66px;
  padding-bottom: 3rem;
  position: relative;
}

//comments
.comment {
  width: 100%;
  display: flex;
  padding: 1.68rem 1.5rem 0.18rem 1.5rem;

  .image {
    width: 55px;
    height: 55px;
    border-radius: 28px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  }
  .txt-comment,
  .txt-label {
    resize: none;
    width: 92%;
    font-size: 13px;
    padding: 0.6rem 0.8rem;
    background: var(--primary-color);
    border: transparent solid;
    border-radius: 10px;
    margin-left: 10px;

    &:focus {
      outline: none !important;
      border: 1px solid none;
      box-shadow: 0 0 10px #719ece;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .post,
  .createPost {
    width: 85%;
    min-width: none;
  }
  .comment {
    .image {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    .txt-comment,
    .txt-label {
      width: 85%;
      font-size: 10px;
    }
  }
}

/* Medium devices (landscape tablets, between 992px and 768px) */
@media (min-width: 768px) and (max-width: 992px) {
  .post,
  .createPost {
    width: 85%;
    min-width: none;
  }
  .comment {
    .image {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    .txt-comment,
    .txt-label {
      width: 85%;
      font-size: 13px;
    }
  }
}
