.post {
  .postHeader {
    width: 100%;
    padding: 0rem 1.5rem;
    display: flex;
    position: absolute;
    top: 16px;
    .image {
      width: 90px;
      height: 90px;
      border-radius: 45px;
      border: 3px solid #ffffff;
      filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    }
    h2 {
      font-size: 20px;
      font-weight: 400;
      padding-top: 18px;
      padding-left: 1rem;
    }
    p {
      font-size: 11px;
      margin-left: auto;
      color: var(--light-grey-color);
      padding-top: 1.4rem;
    }
  }
  .postContent-img {
    .image {
      width: 100%;
      height: 369px;
    }
    p {
      font-size: 15px;
      padding: 0rem 1.5rem;
      margin-top: 0.8rem;
      margin-bottom: 1.18rem;
    }
  }

  .postContent-txt {
    p {
      font-size: 23px;
      padding: 0rem 1.5rem;
      margin-top: 4rem;
      margin-bottom: 1.18rem;
    }
  }

  hr {
    margin: 0rem 1.5rem;
    border: 1px solid #d1d1d1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .post {
    .postHeader {
      .image {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-top: 0.3rem;
      }
      h2 {
        font-size: 17px;
      }
      p {
        display: none;
      }
    }
    .postContent-img {
      .image {
        height: 200px;
      }
      p {
        font-size: 13px;
      }
    }

    .postContent-txt {
      p {
        font-size: 16px;
        margin-top: 3rem;
      }
    }
  }
}

/* Medium devices (landscape tablets, between 992px and 768px) */
@media (min-width: 768px) and (max-width: 992px) {
  .post {
    .postHeader {
      .image {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-top: 0.3rem;
      }
      h2 {
        font-size: 18px;
      }
      p {
        display: none;
      }
    }
    .postContent-img {
      .image {
        height: 350px;
      }
      p {
        font-size: 14px;
      }
    }

    .postContent-txt {
      p {
        font-size: 16px;
        margin-top: 3rem;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
